<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CZTFFASuite">

	<test name="cucumber">
		<parameter name="channel" value="DIGITAL" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.cztffa.cucumber.parallel.CZTFFAFeatureRunner" />
		</classes>
	</test>
</suite> 